<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Sistema Biblioteca</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sistema Biblioteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/libros">Libros</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/generos">Generos</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <br>
	<div class="container">

		<div class="row">
			<div class="col-lg-6-col-md-6 col-sm-6 container justify-content-center card">
				<br>
				<h1 th:if="${genero.idGenero == null}"  class="text-center">Registrar Género</h1>
				<h1 th:unless="${genero.idGenero == null}"  class="text-center">Editar Género</h1>
				<div class="card-body">
					<form th:action="@{/genero/guardar}" th:object="${genero}" method="POST">
						<input type="hidden" th:field="*{idGenero}" th:value="${genero.idGenero}"/>
						
					
						<div class="form-group">
							<label>Nombre del Género:</label>
							<input type="text" th:field="*{nombreGenero}" class="form-control"
								placeholder="Nombre del género " required>
						</div>
	
						
					<br>

						<div class="box-footer">
							<button type="submit" class="btn btn-success">Guardar</button>
						<a class="btn btn-primary" th:href="@{/generos}">Volver</a>
						</div>

					</form>
				</div>
			</div>
		</div>

	</div>

</body>
</html>